* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* NAVIGATION MENU */
#header {
  background-image: linear-gradient(to left, #051937, #004d7a, #008793, #00bf72, #a8eb12);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
}

#header-img {
  padding: 0.8rem 2rem;
  margin-left: 1rem;
}
header{
  position: fixed;
  width: 100vw;
}

#nav-bar a {
  text-decoration: none;
  color: #FFFF;
  padding: 2rem;
}

@media (max-width: 600px) {
  header {
    flex-wrap: wrap;
  }
}

@media (max-width: 650px) {
  .logo>img {
    margin: 0 auto;
  }
}

@media (max-width: 650px) {
  .logo {
    margin-top: 15px;
    width: 100%;
    position: relative;
  }
}

/* SECTION */
.container {
  width: 100%;
  margin: 0 auto;
  padding-bottom: 3rem;
  background-image: radial-gradient(circle, #e0d7dc, #dccbda, #d3c0db, #c5b7de, #b0afe2, #9bb0e9, #81b3ed, #5eb5ee, #3abeec, #0bc6e5, #00cdd9, #31d3c8);
}

.primary {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 200px;
}

.primary>h2 {
  margin-bottom: 10px;
  word-wrap: break-word;
}

.primary input[type="email"] {
  max-width: 275px;
  width: 100%;
  padding: 5px;
  margin-top: 20px;
}

.primary input[type="submit"] {
  max-width: 150px;
  width: 100%;
  height: 30px;
  margin: 15px 0;
  border: 0;
  background-color: #f1c40f;
}

.grid {
  display: flex;
}

#service .icon {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 125px;
  width: 40vw;
}

#service .desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 125px;
  width: 60vw;
  padding: 5px;
}

.icon>img {
  padding-right: 2rem;
}

.desc h3 {
  padding-bottom: 1rem;
}

#diving {
  display: flex;
  justify-content: center;
  align-items: center;
}

#video {
  padding: 2rem;
}

#price {
  display: flex;
  justify-content: center;
  height: auto;
}

.service {
  padding: 2rem;
}

.service h3 {
  padding: 10px;
  text-align: center;
}

.service h4 {
  padding: 10px;
  text-align: center;
}

.service ol {
  list-style: none;
  padding: 5px;
}

.btn {
  max-width: 150px;
  width: 100%;
  height: 30px;
  margin: 15px 0;
  border: 0;
  background-color: #f1c40f;
}

footer {
  height: 40px;
  text-align: end;
  line-height: 40px;
  padding-right: 20px;
  color: #FFFF;
  background-color: #6B6D71;
}